<% if @user.errors.any? %>
    $("#nameError").html('');
    $("#nameError").append('<% @user.errors.full_messages_for(:name).each do |message| %>');
    $("#nameError").append('<li class="text-danger"><%= message %></li>');
    $("#nameError").append('<% end %>');

    $("#emailError").html('');
    $("#emailError").append('<% @user.errors.full_messages_for(:email).each do |message| %>');
    $("#emailError").append('<li class="text-danger"><%= message %></li>');
    $("#emailError").append('<% end %>');

    $("#addressError").html('');
    $("#addressError").append('<% @user.errors.full_messages_for(:address).each do |message| %>');
    $("#addressError").append('<li class="text-danger"><%= message %></li>');
    $("#addressError").append('<% end %>');

    $("#contactError").html('');
    $("#contactError").append('<% @user.errors.full_messages_for(:contact).each do |message| %>');
    $("#contactError").append('<li class="text-danger"><%= message %></li>');
    $("#contactError").append('<% end %>');
    <% else %>
    $("#user_row_<%= @user.id %>").replaceWith("<%= escape_javascript render('user_row', user: @user) %>");
    $('.closeModal').click()
<% end %>